body {
    text-align: center;
    background-color: beige;
    font-family: Impact;
}

h1 {
    font-size: 30px;
    font-style: italic;
    text-shadow: -1px 2px 3px darkgrey ;
    color: brown;
}

h2 {
    font-size: 20px;
    font-style: italic;
    text-shadow: -1px 2px 3px darkgrey ;
    color: brown;
}

.board-container table {
    margin: auto;
}

.board-container td {
    height: 30px;
    width: 30px;

    border: 1px darkgrey;
    background: linear-gradient(-150deg, aquamarine, lightblue);
}

.board-container td:hover {
    background: darkcyan;
}



.board-container td.clicked {
    background: linear-gradient(-150deg, darkblue, purple);
}

.hidden {
    display: none;
}


